{% extends 'base.html' %}
{% load filters %}
{% block content %}
    <div class="container-fluid">
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        {% for pr in project %}
                            <h1><strong>{{ pr.project_name }}</strong> - loyihasi haqida batafsil ma'lumot</h1>
                        {% endfor %}
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                        </ol>
                    </div>
                </div>
            </div>
        </section>
        <section class="content">
            <div class="card" style="height: 100dvh">
                <div class="card-header">
                    <div class="card-tools">
                        <i id="{{ project.pk }}" data-toggle="modal" data-target="#add-phase"
                           class="fa-solid fa-circle-plus btn btn-outline-dark"></i>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-md-12 col-lg-8 order-2 order-md-1">
                            <div class="row">
                                <div class="col-12 col-sm-4">
                                    <div class="info-box bg-light">
                                        <div class="info-box-content">
                                            <span class="info-box-text text-center text-muted">Loyiha budjeti</span>
                                            {% for ph in project %}
                                                <span class="info-box-number text-center text-muted mb-0">{{ ph.project_budget }}</span>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-4">
                                    <div class="info-box bg-light">
                                        <div class="info-box-content">
                                            <span class="info-box-text text-center text-muted">Sarflangan pul</span>
                                            {% for ph in project %}
                                                <span class="info-box-number text-center text-muted mb-0">{{ ph.project_spent_money }}</span>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-4">
                                    <div class="info-box bg-light">
                                        <div class="info-box-content">
                                            <span class="info-box-text text-center text-muted">Tugash vaqti</span>
                                            {% for ph in project %}
                                                <span class="info-box-number text-center text-muted mb-0">{{ ph.project_deadline | format_date }}</span>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="text-start mt-2 border-bottom border-dark"
                                                 style="margin-bottom: 3%">
                                                <h4><strong>Ushbu loyihaga tegishli faza va tasklar</strong></h4>
                                            </div>
                                            {% for data in datas %}
                                                <div class="row">
                                                    <div class="col-10">
                                                        {% with id='collapse'|generate_random %}
                                                            <div class="row bg-light mb-3"
                                                                 data-toggle="collapse" data-target="#{{ id }}"
                                                                 style="height: 50px; box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;">
                                                                <div class="col-10">
                                                                    <p id="phase{{ data.phase_id }}">{{ data.phase }}</p>
                                                                </div>

                                                            </div>
                                                            </div>
                                                            <div id="icons-panel{{ data.phase_id }}" class="col-2 bg-light mb-3 text-center pt-3" style="box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;">
                                                                    <i class="fa-solid fa-pen-to-square mx-1 {{ data.phase_id }} icon-buttons"></i>
                                                                    <i class="fa-solid fa-trash mx-1 {{ data.phase_id }} "></i>
                                                                    <i data-toggle="collapse" data-target="#{{ id }}" class="fa-solid fa-chevron-down mx-1 collapse-icon{{ data.phase_id }}"></i>
                                                                </div>
                                                            </div>
                                                            {% for task in data.tasks %}
                                                                <div class="card collapse" id="{{ id }}">
                                                                    <div class="card-body">

                                                                        <label>
                                                                            <input type="checkbox">
                                                                            {{ task.task_name }}
                                                                        </label>

                                                                    </div>

                                                                </div>
                                                            {% endfor %}
                                                        {% endwith %}
                                            {% endfor %}


                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-12 col-lg-4 order-1 order-md-2">
                            {% for ph in project %}
                                <h3 class="text-primary"><i class="fas fa-paint-brush"></i>{{ ph.project_name }} </h3>
                                <p class="text-muted">{{ ph.project_description }}</p>
                                <br>
                                <div class="text-muted">
                                    <p class="text-sm">Loyiha egasi
                                        <b class="d-block">{{ ph.author.get_full_name }}</b>
                                    </p>
                                    <p class="text-sm">Loyiha kuratori
                                        <b class="d-block">{{ ph.project_curator }}</b>
                                    </p>
                                </div>
                            {% endfor %}
                            <h5 class="mt-5 text-muted">Loyiha fayllari</h5>
                            <ul class="list-unstyled">
                                {% for doc in documents %}
                                    <li>
                                        <a href="" class="btn-link text-secondary" download="{{ doc.document }}"><i
                                                class="fa-solid fa-link" style="margin-right: 2%"></i>
                                            <embed href="{{ doc.document }}">
                                            {{ doc.document }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                            <div class="text-start mt-5 mb-3">
                                <button data-toggle="modal" data-target="#addfile" class="btn btn-sm btn-primary">Fayl
                                    yuklash
                                </button>
                                <button data-toggle="modal" data-target="#delete-file" class="btn btn-sm btn-danger">
                                    O'chirish
                                </button>
                                <div id="addfile" class="modal fade" role="dialog">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1>Faylni yuklang</h1>
                                            </div>
                                            <div class="modal-body">
                                                <form method="post" enctype="multipart/form-data">
                                                    {% csrf_token %}
                                                    {{ form.as_p }}
                                                    <div class="modal-footer">
                                                        <button type="submit" class="btn btn-primary">Ha</button>
                                                        <button class="btn btn-primary" data-dismiss="modal">Bekor
                                                            qilish
                                                        </button>
                                                    </div>

                                                </form>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div id="delete-file" class="modal fade" role="dialog">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1>Fayllarni tanlang</h1>
                                            </div>
                                            <div class="modal-body">
                                                <form method="post" enctype="multipart/form-data">
                                                    {% csrf_token %}
                                                    {% for document in documents %}
                                                        <div class="row">
                                                            <div class="col-1">
                                                                <input class="del-files" type="checkbox"
                                                                       id="{{ document.pk }}">
                                                            </div>
                                                            <div class="col">
                                                                {{ document.document }}

                                                            </div>
                                                        </div>
                                                    {% endfor %}
                                                    <div class="modal-footer">
                                                        <button id="del-confirm" type="button" class="btn btn-danger">
                                                            O'chirish
                                                        </button>
                                                        <button class="btn btn-primary" data-dismiss="modal">Bekor
                                                            qilish
                                                        </button>
                                                    </div>

                                                </form>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div id="add-phase" class="modal fade" role="dialog">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1>Faza yaratish boshlandi</h1>
                                            </div>
                                            <div class="modal-body">
                                                <form method="post" id="phase-form">
                                                    <label> Faza nomini yozing :
                                                        <input class="form-control mb-4" type="text" name="phase"
                                                               id="phase-input">
                                                    </label><br>
                                                    <hr>
                                                    <div class="add-task" id="add-task">
                                                        <label>Task qo'shish</label>
                                                        <i class="fa-solid fa-circle-plus"></i>
                                                    </div>
                                                    <hr>
                                                </form>
                                                <div class="modal-footer">
                                                    <button id="save-all-data" class="btn btn-primary">Saqlash</button>
                                                    <button class="btn btn-secondary">Bekor qilish</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock content %}